.env*/
cache/
act_out/
attn_out/
c4_valid/
mlp_out/
logs/
reading_brain
little_prince
lpp_surface
regression_results/
scores_composition/
sortings_composition/little_prince/
sortings_composition/reading_brain/


# !transformers/src/transformers/models/llama
# transformers/*
# transformers/*/

